---
layout: core/compress
---

<!doctype html>
<html lang="{{ site.ui.meta.lang }}" class="no-webp">
    <head prefix="og: http://ogp.me/ns# {% if page.layout =='wiki' %}article: http://ogp.me/ns/article#{% endif %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% if page.metatitle %}{{ page.metatitle }} - {% endif %}{{ site.ui.meta.title }}</title>
        <script data-cfasync="false">
            /* WebP check */
            (function(window){var html=document.documentElement,isSupported=null;function checkSupport(fn){var WebP=new Image;WebP.onload=WebP.onerror=function(){isSupported=WebP.height===2;if(isSupported){if(html.className.indexOf("no-webp")>=0)html.className=html.className.replace(/\bno-webp\b/,"webp");else html.className+=" webp"}};WebP.src="data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA"}checkSupport()})(window);
        </script>
        {% include assets/loader.html block="head" %}
        <style>{% include assets/website.css %}</style>
        {% comment %}SEO and verification stuff{% endcomment %}
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.ui.meta.title }}{% endif %}" />
        <meta property="og:type" content="{% if page.layout == 'wiki' or page.path == 'mythic.html' %}article{% else %}website{% endif %}" />
        <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' | replace:'.html','' }}" />
        <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.ui.images.logo.url }}" />
        <meta property="og:image:type" content="{{ site.ui.images.logo.type }}" />
        <meta property="og:locale" content="{{ site.ui.meta.locale }}" />
        <meta property="og:site_name" content="{{ site.ui.meta.title }}" />
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.ui.meta.description }}{% endif %}" />
        {% if page.layout == 'wiki' or page.path == 'mythic.html' %}
        <meta property="article:author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.ui.brand }}{% endif %}" />
        <meta property="article:section" content="{{ site.ui.meta.article.category }}" />
        {% for tag in site.ui.meta.article.tags %}
        <meta property="article:tag" content="{{ tag }}" />
        {% endfor %}
        {% if page.layout == 'wiki' %}
        <link rel="amphtml" href="{{ page.url | canonical: 'amp' }}">
        {% endif %}
        {% endif %}
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.ui.meta.description }}{% endif %}" />
        <meta name="yandex-verification" content="{{ site.ui.verification.yandex }}" />
        <meta name="google-site-verification" content="{{ site.ui.verification.google }}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/export/rss.xml" />
        <link rel="canonical" href="{{ page.url | canonical }}">
        <link rel="shortcut icon" href="{{ site.ui.images.favicon.url }}" type="{{ site.ui.images.favicon.type }}">
        <link rel="icon" href="{{ site.ui.images.favicon.url }}" type="{{ site.ui.images.favicon.type }}">
        <link rel="apple-touch-icon" type="{{ site.ui.images.logo.type }}" href="{{ site.url }}{{ site.baseurl }}{{ site.ui.images.logo.url }}" />
        {% if site.ui.analytics.yandex %}
        <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter{{ site.ui.analytics.yandex }} = new Ya.Metrika2({ id:{{ site.ui.analytics.yandex }}, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/{{ site.ui.analytics.yandex }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top global">
            <a class="navbar-brand d-lg-none" href="/">{{ site.ui.brand }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="navbar-brand" href="/"><img src="{{ site.baseurl }}{{ site.ui.images.logo.url }}" style="width:50px"/></a>
                <ul class="navbar-nav mr-auto">
                    {% for item in site.data.ui.navigation.top.left %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.url }}" {% if item.external %}rel="nofollow" target="_blank"{% endif %}><span>{{ item.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="navbar-nav mt-2 mt-lg-0">
                    {% for item in site.data.ui.navigation.top.right %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.url }}" {% if item.external %}rel="nofollow" target="_blank"{% endif %}><span>{{ item.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        {% if page.layout != 'wiki' %}
        <main class="container-fluid">
            {% endif %}
            {{ content | forcewebp | autonofollow }}
        </main>
        {% if site.ui.images.logo.has_svg %}
        {% include assets/logo.svg %}
        {% endif %}
        {% include assets/loader.html block="footer" %}
        <script>{% include assets/website.js %}</script>
        <noindex class="text-muted">Images by <a href="http://worldofwarcraft.com" target="_blank" rel="nofollow">Blizzard</a></noindex>
    </body>
</html>
