---
layout: amp
---
<!doctype html>
<html ⚡="">
    <head>
        <meta charset="utf-8">
        <title>{% if page.metatitle %}{{ page.metatitle }} - {% endif %}{{ site.ui.meta.title }}</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.ui.description }}{% endif %}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/export/rss.xml" />
        <link rel="canonical" href="{{ page.url | canonical }}">
        <link rel="shortcut icon" href="{{ site.ui.images.favicon.url }}" type="{{ site.ui.images.favicon.type }}">
        <link rel="icon" href="{{ site.ui.images.favicon.url }}" type="{{ site.ui.images.favicon.type }}">
        {% if site.ui.images.logo.url %}
        <link rel="apple-touch-icon" type="{{ site.ui.images.logo.type }}" href="{{ site.url }}{{ site.baseurl }}{{ site.ui.images.logo.url }}" />
        {% else %}
        {% for logo in site.ui.images.logo %}
        <link rel="apple-touch-icon" type="{{ logo.type }}" href="{{ site.url }}{{ site.baseurl }}{{ logo.url }}" />
        {% endfor %}
        {% endif %}
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.ui.meta.title }}{% endif %}" />
        <meta property="og:type" content="{% if page.layout == 'wiki' or page.path == 'mythic.html' %}article{% else %}website{% endif %}" />
        <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' | replace:'.html','' }}" />
        {% if site.ui.images.logo.url %}
        <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.ui.images.logo.url }}" />
        <meta property="og:image:type" content="{{ site.ui.images.logo.type }}" />
        {% else %}
        {% for logo in site.ui.images.logo %}
        <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ logo.url }}" />
        <meta property="og:image:type" content="{{ logo.type }}" />
        {% endfor %}
        {% endif %}
        <meta property="og:locale" content="{{ site.ui.meta.locale }}" />
        <meta property="og:site_name" content="{{ site.ui.meta.title }}" />
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.ui.meta.description }}{% endif %}" />
        {% if page.layout == 'wiki' or page.path == 'mythic.html' %}
        <meta property="article:author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.ui.brand }}{% endif %}" />
        <meta property="article:section" content="{{ site.ui.meta.article.category }}" />
        {% for tag in site.ui.meta.article.tags %}
        <meta property="article:tag" content="{{ tag }}" />
        {% endfor %}
        {% endif %}
        <script async="" src="https://cdn.ampproject.org/v0.js"></script>
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <script custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async=""></script>
        <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
        <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
        <style amp-boilerplate>{% include assets/amp/boilerplate.css %}</style>
        <style amp-custom>{% include assets/amp/custom.css %}</style>
        <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    </head>
    <body>
        {% if site.ui.images.logo.url %}
        {% assign logo = site.ui.images.logo %}
        {% else %}
        {% assign logo = site.ui.images.logo[0] %}
        {% endif %}
        <!-- Start Navbar -->
        <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 ">
            <a href="{{ site.url }}{{ site.baseurl }}/{{ page.url | replace:'index.html','' | replace:'.html','' | replace: 'amp/','' }}">Полная версия</a>
            <amp-img src="{{ site.url }}{{ site.baseurl }}{{ logo.url }}" width="61.3" height="61.3" layout="fixed" class="my0 mx-auto " alt="{{ site.ui.meta.title }}"></amp-img>
            <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger pr2">☰</div>
        </header>

        <!-- Start Sidebar -->
        <amp-sidebar id="header-sidebar" class="ampstart-sidebar px3" side="right" layout="nodisplay">
            <div class="flex justify-start items-center ampstart-sidebar-header">
                <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
            </div>
            <nav class="ampstart-sidebar-nav ampstart-nav">
                {% include elements/menu.html view="amp" %}
            </nav>
            <ul class="ampstart-sidebar-faq list-reset m0">
                <li class="ampstart-faq-item"><a href="{{ site.url }}{{ site.baseurl }}/{{ page.url | replace:'index.html','' | replace:'.html','' | replace: 'amp/','' }}" class="text-decoration-none">Полная версия</a></li>
            </ul>
        </amp-sidebar>
        <!-- End Sidebar -->
        <!-- End Navbar -->
        <main id="content" role="main" class="">
            <article class="recipe-article">
                <header>
                    {% capture author %}{% include elements/author.html %}{% endcapture %}
                    <span class="ampstart-subtitle block px3 pt2 mb2">{{ author | amp_images: false }}</span>
                    <h1 class="metatitle">{{ page.metatitle }}</h1>
                </header>
                {% if site.ui.ads.amphtml.top %}<amp-ad width="300" height="250" type="{{ site.ui.ads.type }}" data-block-id="{{ site.ui.ads.amphtml.top }}" data-html-access-allowed="true"></amp-ad>{% endif %}
                {{ content | autonofollow }}
                {% if site.ui.ads.amphtml.bottom %}<amp-ad width="300" height="250" type="{{ site.ui.ads.type }}" data-block-id="{{ site.ui.ads.amphtml.bottom }}" data-html-access-allowed="true"></amp-ad>{% endif %}
            </article>
        </main>
        {% if site.ui.analytics.yandex %}<amp-analytics type="metrika"><script type="application/json">{"vars": {"counterId": "{{ site.ui.analytics.yandex }}"},"triggers": {"notBounce": {"on": "timer","timerSpec": {"immediate": false,"interval": 15,"maxTimerLength": 16},"request": "notBounce"}}}</script></amp-analytics>{% endif %}
    </body>
</html>
